.body {
    display: flex;
    flex-direction: column;
}
.footer {
    background-color: #1F2937;
    color: white;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}